In [23]:
#Read the libraries and load the data
import numpy as np, pandas as pd,json
from math import radians
from numpy import cos, sin, arcsin, sqrt
data=[]
for line in open('interc.json','r'):
    data.append(json.loads(line))
print(data)

[{'latitude': '52.986375', 'user_id': 12, 'name': 'Christina McArdle', 'longitude': '-6.043701'}, {'latitude': '51.92893', 'user_id': 1, 'name': 'Alice Cahill', 'longitude': '-10.27699'}, {'latitude': '51.8856167', 'user_id': 2, 'name': 'Ian McArdle', 'longitude': '-10.4240951'}, {'latitude': '52.3191841', 'user_id': 3, 'name': 'Jack Enright', 'longitude': '-8.5072391'}, {'latitude': '53.807778', 'user_id': 28, 'name': 'Charlie Halligan', 'longitude': '-7.714444'}, {'latitude': '53.4692815', 'user_id': 7, 'name': 'Frank Kehoe', 'longitude': '-9.436036'}, {'latitude': '54.0894797', 'user_id': 8, 'name': 'Eoin Ahearn', 'longitude': '-6.18671'}, {'latitude': '53.038056', 'user_id': 26, 'name': 'Stephen McArdle', 'longitude': '-7.653889'}, {'latitude': '54.1225', 'user_id': 27, 'name': 'Enid Gallagher', 'longitude': '-8.143333'}, {'latitude': '53.1229599', 'user_id': 6, 'name': 'Theresa Enright', 'longitude': '-6.2705202'}, {'latitude': '52.2559432', 'user_id': 9, 'name': 'Jack Dempsey', 'longitude': '-7.1048927'}, {'latitude': '52.240382', 'user_id': 10, 'name': 'Georgina Gallagher', 'longitude': '-6.972413'}, {'latitude': '53.2451022', 'user_id': 4, 'name': 'Ian Kehoe', 'longitude': '-6.238335'}, {'latitude': '53.1302756', 'user_id': 5, 'name': 'Nora Dempsey', 'longitude': '-6.2397222'}, {'latitude': '53.008769', 'user_id': 11, 'name': 'Richard Finnegan', 'longitude': '-6.1056711'}, {'latitude': '53.1489345', 'user_id': 31, 'name': 'Alan Behan', 'longitude': '-6.8422408'}, {'latitude': '53', 'user_id': 13, 'name': 'Olive Ahearn', 'longitude': '-7'}, {'latitude': '51.999447', 'user_id': 14, 'name': 'Helen Cahill', 'longitude': '-9.742744'}, {'latitude': '52.966', 'user_id': 15, 'name': 'Michael Ahearn', 'longitude': '-6.463'}, {'latitude': '52.366037', 'user_id': 16, 'name': 'Ian Larkin', 'longitude': '-8.179118'}, {'latitude': '54.180238', 'user_id': 17, 'name': 'Patricia Cahill', 'longitude': '-5.920898'}, {'latitude': '53.0033946', 'user_id': 39, 'name': 'Lisa Ahearn', 'longitude': '-6.3877505'}, {'latitude': '52.228056', 'user_id': 18, 'name': 'Bob Larkin', 'longitude': '-7.915833'}, {'latitude': '54.133333', 'user_id': 24, 'name': 'Rose Enright', 'longitude': '-6.433333'}, {'latitude': '55.033', 'user_id': 19, 'name': 'Enid Cahill', 'longitude': '-8.112'}, {'latitude': '53.521111', 'user_id': 20, 'name': 'Enid Enright', 'longitude': '-9.831111'}, {'latitude': '51.802', 'user_id': 21, 'name': 'David Ahearn', 'longitude': '-9.442'}, {'latitude': '54.374208', 'user_id': 22, 'name': 'Charlie McArdle', 'longitude': '-8.371639'}, {'latitude': '53.74452', 'user_id': 29, 'name': 'Oliver Ahearn', 'longitude': '-7.11167'}, {'latitude': '53.761389', 'user_id': 30, 'name': 'Nick Enright', 'longitude': '-7.2875'}, {'latitude': '54.080556', 'user_id': 23, 'name': 'Eoin Gallagher', 'longitude': '-6.361944'}, {'latitude': '52.833502', 'user_id': 25, 'name': 'David Behan', 'longitude': '-8.522366'}]

In [3]:
#Convert data into a dataframe
dataframe=pd.DataFrame.from_dict(data)
print(dataframe)

      latitude  user_id                name    longitude
0    52.986375       12   Christina McArdle    -6.043701
1     51.92893        1        Alice Cahill    -10.27699
2   51.8856167        2         Ian McArdle  -10.4240951
3   52.3191841        3        Jack Enright   -8.5072391
4    53.807778       28    Charlie Halligan    -7.714444
5   53.4692815        7         Frank Kehoe    -9.436036
6   54.0894797        8         Eoin Ahearn     -6.18671
7    53.038056       26     Stephen McArdle    -7.653889
8      54.1225       27      Enid Gallagher    -8.143333
9   53.1229599        6     Theresa Enright   -6.2705202
10  52.2559432        9        Jack Dempsey   -7.1048927
11   52.240382       10  Georgina Gallagher    -6.972413
12  53.2451022        4           Ian Kehoe    -6.238335
13  53.1302756        5        Nora Dempsey   -6.2397222
14   53.008769       11    Richard Finnegan   -6.1056711
15  53.1489345       31          Alan Behan   -6.8422408
16          53       13        Olive Ahearn           -7
17   51.999447       14        Helen Cahill    -9.742744
18      52.966       15      Michael Ahearn       -6.463
19   52.366037       16          Ian Larkin    -8.179118
20   54.180238       17     Patricia Cahill    -5.920898
21  53.0033946       39         Lisa Ahearn   -6.3877505
22   52.228056       18          Bob Larkin    -7.915833
23   54.133333       24        Rose Enright    -6.433333
24      55.033       19         Enid Cahill       -8.112
25   53.521111       20        Enid Enright    -9.831111
26      51.802       21        David Ahearn       -9.442
27   54.374208       22     Charlie McArdle    -8.371639
28    53.74452       29       Oliver Ahearn     -7.11167
29   53.761389       30        Nick Enright      -7.2875
30   54.080556       23      Eoin Gallagher    -6.361944
31   52.833502       25         David Behan    -8.522366

In [4]:
#Convert Strings into Floats add new columns for office location
dataframe['office_lattitude']=53.339428
dataframe['office_longitude'] = -6.257664
dataframe['latitude']=dataframe['latitude'].astype(float)
dataframe['longitude']=dataframe['longitude'].astype(float)
dataframe['office_lattitude']=dataframe['office_lattitude'].astype(float)
dataframe['office_longitude']=dataframe['office_longitude'].astype(float)

In [5]:
#Checking to see if the values are of the same datatype
print(dataframe.dtypes)

latitude            float64
user_id               int64
name                 object
longitude           float64
office_lattitude    float64
office_longitude    float64
dtype: object

In [6]:
#Define the Great Circle Distance function
def great_cirle(row):
    lon1 = -6.257664
    lat1 = 53.339428
    lon2 = row['longitude']
    lat2 = row['latitude']
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * arcsin(sqrt(a)) 
    km = 6367 * c
    return km

In [7]:
#add a new column to the dataframe with the distance between office and the user
dataframe['distance_km'] = dataframe.apply(lambda row: great_cirle(row), axis=1)

In [27]:
dataframe.drop(columns=['distance'])

,latitude,user_id,name,longitude,office_lattitude,office_longitude,distance_km
0,52.986375,12,Christina McArdle,-6.043701,53.339428,-6.257664,41.742501
1,51.928930,1,Alice Cahill,-10.276990,53.339428,-6.257664,313.058958
2,51.885617,2,Ian McArdle,-10.424095,53.339428,-6.257664,324.171255
3,52.319184,3,Jack Enright,-8.507239,53.339428,-6.257664,188.840727
4,53.807778,28,Charlie Halligan,-7.714444,53.339428,-6.257664,109.307784
5,53.469282,7,Frank Kehoe,-9.436036,53.339428,-6.257664,211.039469
6,54.089480,8,Eoin Ahearn,-6.186710,53.339428,-6.257664,83.480086
7,53.038056,26,Stephen McArdle,-7.653889,53.339428,-6.257664,98.812521
8,54.122500,27,Enid Gallagher,-8.143333,53.339428,-6.257664,151.447878
9,53.122960,6,Theresa Enright,-6.270520,53.339428,-6.257664,24.070238
10,52.255943,9,Jack Dempsey,-7.104893,53.339428,-6.257664,133.178664
11,52.240382,10,Georgina Gallagher,-6.972413,53.339428,-6.257664,131.235597
12,53.245102,4,Ian Kehoe,-6.238335,53.339428,-6.257664,10.560302
13,53.130276,5,Nora Dempsey,-6.239722,53.339428,-6.257664,23.272700
14,53.008769,11,Richard Finnegan,-6.105671,53.339428,-6.257664,38.113624
15,53.148935,31,Alan Behan,-6.842241,53.339428,-6.257664,44.263015
16,53.000000,13,Olive Ahearn,-7.000000,53.339428,-6.257664,62.192630
17,51.999447,14,Helen Cahill,-9.742744,53.339428,-6.257664,278.032051
18,52.966000,15,Michael Ahearn,-6.463000,53.339428,-6.257664,43.695037
19,52.366037,16,Ian Larkin,-8.179118,53.339428,-6.257664,168.291455
20,54.180238,17,Patricia Cahill,-5.920898,53.339428,-6.257664,96.018277
21,53.003395,39,Lisa Ahearn,-6.387751,53.339428,-6.257664,38.333932
22,52.228056,18,Bob Larkin,-7.915833,53.339428,-6.257664,166.343589
23,54.133333,24,Rose Enright,-6.433333,53.339428,-6.257664,88.975136
24,55.033000,19,Enid Cahill,-8.112000,53.339428,-6.257664,223.494557
25,53.521111,20,Enid Enright,-9.831111,53.339428,-6.257664,237.426854
26,51.802000,21,David Ahearn,-9.442000,53.339428,-6.257664,274.625270
27,54.374208,22,Charlie McArdle,-8.371639,53.339428,-6.257664,180.042168
28,53.744520,29,Oliver Ahearn,-7.111670,53.339428,-6.257664,72.156454
29,53.761389,30,Nick Enright,-7.287500,53.339428,-6.257664,82.590963
30,54.080556,23,Eoin Gallagher,-6.361944,53.339428,-6.257664,82.643007
31,52.833502,25,David Behan,-8.522366,53.339428,-6.257664,161.260768

In [15]:
#Find all users with distance less or equal to 100 km
a = dataframe[['user_id','name']].loc[dataframe['distance_km'] <= 100].sort_values(by=['user_id'])
print(a)

    user_id               name
12        4          Ian Kehoe
13        5       Nora Dempsey
9         6    Theresa Enright
6         8        Eoin Ahearn
14       11   Richard Finnegan
0        12  Christina McArdle
16       13       Olive Ahearn
18       15     Michael Ahearn
20       17    Patricia Cahill
30       23     Eoin Gallagher
23       24       Rose Enright
7        26    Stephen McArdle
28       29      Oliver Ahearn
29       30       Nick Enright
15       31         Alan Behan
21       39        Lisa Ahearn

In [22]:
a.to_csv('output.txt', index=False, sep=' ', header=True)